{% extends 'base.html' %}

{% block content %}
<ul>
    {% for task in task_list %}
        <li>
            <div>
                <div><h2>{{task.title}}</h2></div>
                <div>
                    {{task.list}} || {{task.deadline}} || {{task.is_starred}} || {{task.is_completed}}
                </div>
                <div>
                    <a href="{% url 'task_detail' task.list.id task.id %}">View...</a>
                </div>
            </div>
        </li>
    {% endfor %}

    <li><a href=""> + Create New Task</a></li>
</ul>

{% endblock content %}