{% extends 'base.html' %}

{% block content %}
<ul>
    {% for task in task_list %}
        <li>
            <div>
                <div><h2>{{task.title}}</h2><a href="{% url 'task_edit' task.list.id task.id%}">- Edit</a></div>
                <div>
                    {{task.list}} || {{task.deadline}} || {{task.is_starred}} || {{task.is_completed}}
                </div>
                <div>
                    <a href="{% url 'task_detail' task.list.id task.id %}">View...</a>
                </div>
            </div>
        </li>
    {% endfor %}

    <li>
        <a href="{% url 'task_create' %}"> + Create New Task</a>
    </li>
</ul>

{% endblock content %}